html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.index-container {
  max-width: 50vw;
}


.bg-pattern{
  /* background-image: radial-gradient(rgba(201, 121, 247, 0.2) 1px, rgba(255,255,255,.4) 1px); */
  /* background-size: 20px 20px; */
  /* background: linear-gradient(135deg,rgba(201, 121, 247, 0.2) 25%, transparent 25%) -20px 0/ 40px 40px, linear-gradient(225deg, rgba(201, 121, 247, 0.5) 25%, transparent 25%) -20px 0/ 40px 40px, linear-gradient(315deg,rgba(201, 121, 247, 0.2) 25%, transparent 25%) 0px 0/ 40px 40px, linear-gradient(45deg, rgba(201, 121, 247, 0.5) 25%, #e5e5f7 25%) 0px 0/ 40px 40px; */

  background-image: url("/img/fondo/Congreso.jpg");
  background-attachment: fixed;

  position: "fixed";

  background-repeat: no-repeat;
  background-size: 100vw 100vh;

  /*background-color: #630808;
  
  background-image:  linear-gradient(rgba(253, 249, 249, 0.77) 1.6px, transparent 1.6px), linear-gradient(90deg, rgba(247, 242, 242, 0.77) 1.6px, transparent 1.6px), linear-gradient(rgba(243, 239, 239, 0.77) 0.8px, transparent 0.8px), linear-gradient(90deg, rgba(248, 245, 245, 0.77) 0.8px, #474545 0.8px);
  background-size: 60px 60px, 60px 60px, 18px 18px, 18px 18px;
  background-position: -2.6px -2.6px, -2.6px -2.6px, -1.8px -1.8px, -1.8px -1.8px;*/

}
.bg-pattern-2{
  background-color: #ffffff;
  opacity: 0.4;
  background-image:  linear-gradient(rgba(0, 0, 0, 0.77) 1.6px, transparent 1.6px), linear-gradient(90deg, rgba(0, 0, 0, 0.77) 1.6px, transparent 1.6px), linear-gradient(rgba(0, 0, 0, 0.77) 0.8px, transparent 0.8px), linear-gradient(90deg, rgba(0, 0, 0, 0.77) 0.8px, #ffffff 0.8px);
  background-size: 40px 40px, 40px 40px, 8px 8px, 8px 8px;
  background-position: -1.6px -1.6px, -1.6px -1.6px, -0.8px -0.8px, -0.8px -0.8px;
  
}

.bg-dark-opacity{
  background-color: rgba(0,0,0,.5);
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import url("./sidebar.css");

@media (max-width: 900px) {
  .index-container {
    max-width: 100vw;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: .5;
  z-index: 1;
}